BLL/Service References/MailService/MailService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DocIdMailService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DocIdMailService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WorkflowMailService/MailService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MailContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReqType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkflowId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailContract" nillable="true" type="tns:MailContract" />
  <xs:complexType name="PoMailInfoContract">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attachments" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsException" type="xs:boolean" />
      <xs:element minOccurs="0" name="POManageremailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ToListAddress" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PoMailInfoContract" nillable="true" type="tns:PoMailInfoContract" />
  <xs:complexType name="MailResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailResult" nillable="true" type="tns:MailResult" />
</xs:schema>