BLL/Service References/MailService/MailService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WorkflowMailService/MailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DocIdMailService" />
  <xs:import schemaLocation="http://localhost/WorkflowMailService/MailService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DocIdMailService" minOccurs="0" name="mailContract" nillable="true" type="q1:MailContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAlternative">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAlternativeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPoMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DocIdMailService" minOccurs="0" name="mailInfo" nillable="true" type="q2:PoMailInfoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPoMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendPoMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="to" nillable="true" type="q3:ArrayOfstring" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cc" nillable="true" type="q4:ArrayOfstring" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attachmentList" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DocIdMailService" minOccurs="0" name="sendEmailResult" nillable="true" type="q6:MailResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInvoiceIssueMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="notificationID" type="xs:int" />
        <xs:element minOccurs="0" name="invoiceList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="issuedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInvoiceIssueMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DocIdMailService" minOccurs="0" name="SendInvoiceIssueMailResult" nillable="true" type="q7:MailResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>